<footer class="footer">
  <div class="footer-content">
    <div class="address">
      <h3>Temple Address</h3>
      <p>123 Temple Street,</p>
      <p>City, State, Zip Code</p>
      <p>Country</p>
    </div>
    <div class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3784.4453203198464!2d73.87752847402659!3d18.463477170918065!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2ea8d28041e6f%3A0xf7ed00ee7d0e658!2sSHRI%20VISHWAKARMA%20VANSH%20SUTHAR%20VIKAS%20SANGH!5e0!3m2!1sen!2sin!4v1717759264587!5m2!1sen!2sin" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="additional-content">
      <h3>About Our Temple</h3>
      <p>Our temple has been a place of worship and community for over 50 years. We welcome everyone to join our spiritual and cultural events.</p>
      <h3>Contact Us</h3>
      <p>Email: info@temple.org</p>
      <p>Phone: (123) 456-7890</p>
    </div>
  </div>
</footer>
